{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                },
                "modules": false
            }
        ]
    ],
    "plugins": ["@babel/syntax-jsx", ["@babel/transform-react-jsx"]],
    "sourceMaps": "inline"
}
